<h1>
      The Tech Blog
</h1>
<!-- Loop over each object in the projects array -->
{{#each blogs as |blog| }}
<div class="container mb-4 blogs">
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/blog/{{blog.id}}"> 
      <h3> {{{get_emoji}}} {{blog.title}} </h3> </a>
       <p>Posted by {{blog.user.name}} on {{format_date blog.date_created}}
       </p> 
    <p>
      <h6>
      {{blog.description}}
      </h6>
    </p>
    
</div>
{{/each}}
